<a href='/guests'> Guest index</a>
<a href='/cabins'> Cabin index</a>
<h1>Guest: <%= @guest.first_name %> <%= @guest.last_name %></h1>
    <p>invited?: <%= @guest.invite%></p>
    <p>plus ones: <%= @guest.plus_ones%></p>